/* utilities */

.main-container{
    display: flex;
    background-color:  #2D25A0;
    position: relative;
    width: 1440px;
    height: 677px;
    bottom: 30px;
   
}

.container-1{
    position: absolute;
    height: 320px;
    width: 487px;
    left: 156px;
    right: 797px;
    top: 207px;
    bottom: 150px;
    

}

.container-2{
    position: absolute;
    top: 148px;
    bottom: 91x;
    left: 664px;
    right: 220px;
}

.main-header{
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffff;
}
.button{
    height: 14px;
    width: 116px;
    left: 180px;
    top: 479px;
    transition: transform 2s;
}

.button:hover{
    transform: rotate(360deg);
}

.banner-image{
    height: 438px;
    width: 556px;
    transition: transform 2s;
}

.banner-image:hover{
    transform: rotate(20deg);

}

/* section start */
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: #FFFFFF; 
    margin-left: 180px;
    margin-right: 195px;
    margin-top: 40px;


}

.player{
width: 330px;
height: 456px;
margin: 22.50px 15px 22.50px 15px;
justify-content: center;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player-image{
height: 256px;
width: 300px;
margin: 15px 15px 16px 15px;

}

.player-name{
height: 40px;
width: 300px;
margin: 0px 15px 10px 15px;
border-radius: nullpx;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;


}

.paragraph{
height: 104px;
width: 300px;
margin: 0px 15px 15px 15px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
text-align: justify;

}